.footer {
    background: #111111;
    /* color: #888; */
    color: #b6b4b4;

    padding: 40px 20px;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
}

.divider {
    border: 0;
    border-top: 1px solid #333;
    margin: 30px 0;
}

/* Social Section */
.socialSection h4,
.serviceSection h4 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.socialIcons {
    display: flex;
    gap: 25px;
}

.socialIcons a {
    color: #fff;
    font-size: 20px;
    background: #222;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
}

.socialIcons a:hover {
    background: #444;
}

/* Service Buttons */
.serviceButtons {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
}

.btnService {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #222;
    padding: 12px 20px;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* Newsletter */
.newsletterSection p {
    color: #fff;
    margin-bottom: 15px;
    font-weight: 500;
}

.inputGroup {
    position: relative;
    max-width: 500px;
    margin-bottom: 30px;
}

.inputGroup input {
    width: 100%;
    background: #1a1a1a;
    border: 1px solid #333;
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
    outline: none;
}

.inputGroup button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

/* Utility Links */
.utilityLinks {
    font-size: 18px;
    line-height: 2;
}

.language {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ccc;
}

/* Company Info */
.companyInfo {
    font-size: 18px;
    line-height: 1.8;
}

.copyright {
    margin-bottom: 20px;
}

.companyName {
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}

.legalDetails p {
    margin-bottom: 5px;
}

.bctBadge img {
    height: 170px;
    margin-top: 0px;
    /* filter: grayscale(1); */
    /* Làm logo trắng đen cho hợp tone */
    opacity: 0.7;
}

.adminAccess {
    display: inline-block;
    margin-top: 0px;
    color: red;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}

/* Responsive */
@media (max-width: 600px) {
    .serviceButtons {
        flex-direction: column;
    }
}