.sidebar {
    width: 270px;
    height: 90vh;
    margin-top: 90px;
    color: #fff;
    padding: 25px 18px;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    transition: all 0.3s ease;
    z-index: 1000;
    background: #000000;
}

.bodyMenu {
    width: 100%;
    margin-top: 10px;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 15px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.25s ease;
    margin-bottom: 4px;
    color: #b3b3b3;
    text-decoration: none;
}

.item:hover {
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
}

/* Menu cha đang active (Nền đỏ) */
.active {
    background: tomato !important;
    color: #fff !important;
}

.submenu {
    padding-left: 35px;
    /* Thụt đầu dòng cho trang con */
    margin-bottom: 10px;
}

.submenu li {
    margin: 2px 0;
}

.submenu a {
    display: block;
    padding: 16px 0;
    font-size: 18px;
    color: #b3b3b3;
    text-decoration: none;
    transition: 0.2s ease;
}

.submenu a:hover {
    color: tomato;
}

/* Trang con đang active - Chỉ đổi màu chữ */
.submenu a:global(.active) {
    color: tomato !important;
    font-weight: 600;
    background: none !important;
    /* Xóa nền */
    border: none !important;
    /* Xóa viền */
}

.arrow {
    margin-left: auto;
    font-size: 12px;
    transition: transform 0.3s ease;
}

/* Xoay mũi tên khi menu mở */
.rotate {
    transform: rotate(180deg);
}

@media (max-width: 1024px) {
    .sidebar {
        width: 220px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }
}